<span data-toggle="tooltip" data-placement="top" title="Add">
{{ form_start(form, { attr: { class: 'd-inline-block'} }) }}
{{ form_row(form.id, { attr: { value: id } }) }}
{{ form_row(form.submitButton) }}
{{ form_end(form) }}
</span>
