<span data-toggle="tooltip" data-placement="top" title="Add child">
    <a href="{{ url }}" class="btn btn-success btn-sm mr-1">
    <i class="c-icon fas fa-level-down-alt text-white"></i>
</a>
</span>
