<span data-toggle="tooltip" data-placement="top" title="Discard">
    <a class="btn btn-warning btn-sm" data-toggle="modal" data-target="#discard-item-modal" data-discard-item-modal-opener data-item-id="{{ id }}">
    <i class="c-icon fas fa-briefcase text-white"></i>
</a>
</span>

