<a class="btn btn-danger btn-sm" data-toggle="modal" data-target="#remove-item-from-location-modal" data-remove-item-from-location-modal-opener data-item-id="{{ id }}">
    <i class="c-icon fas fa-minus text-white"></i>
</a>
