{% extends 'base.html.twig' %}
{% block title %}HomePage{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('page-homepage') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('page-homepage') }}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="alert alert-danger">test</div>
    </div>
{% endblock %}