{% extends 'base.html.twig' %}
{% block title %}Items{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('page-items') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('page-items') }}
{% endblock %}

{% block body %}
    {% include('layout/modal/addItem.html.twig') %}
    <div class="container">
        <div class="alert alert-success">Items</div>

        <a href="#addItemModal" data-toggle="modal">Create Item</a>

    </div>
{% endblock %}